fastapi
uvicorn[standard]
sqlmodel
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
yt-dlp
aiohttp
librosa
mutagen
pillow